# ─── تلگرام ──────────────────────────────────────────────────
API_ID=10606358
API_HASH=02f8e50d2fe55ce3dad6371c176f78e0
BOT_TOKEN=8729098769:AAGCtAcjZu-CZ6U9f4Z1i9MbBEhNgV_fjOI

# آیدی عددی ادمین‌ها (جدا با کاما)
ADMIN_IDS=1439747072,1439747072

# ─── روبیکا (کاربر) ──────────────────────────────────────────
# نام فایل session (بدون پسوند)
RUBIKA_SESSION=rubika_session

# GUID کانال خصوصی روبیکا (c0xxxxxxxxxxxxxxxxxxxxx)
# کانالی که فایل‌ها در آن آپلود می‌شوند
RUBIKA_CHANNEL_GUID= c0D9R6o0eda814cf4e506c4392ab74db
# ─── روبیکا (ربات) ───────────────────────────────────────────
# توکن ربات روبیکا که از @BotFather روبیکا دریافت می‌کنید
RUBIKA_BOT_TOKEN=BEFEII0GSPHCJJDXVVTWAVDQCEBGXYIRLEPZUVQFSKLLDLIEBYNGOLXWPSKJFNXZ
